<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
{% extends "base.html" %}
{% block content %}
<div data-role="header">
<h1 class="ui-btn-active">MENU PRINCIPAL</h1>
    <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ">Opciones</a>
<a href="categoria.html" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-l ">Volver</a>
</div>
<div data-role="header">
    <h1>Beltran Renzo </h1>
</div>
<ul data-role="listview" data-inset="true">
    <li><a href="#">
    <img src="themes/images/albañiles/albañil2.jpg">
    <fieldset class="val-fieldset"><span class="valoracion val-45"></span></fieldset>
    <h6>TEL:3644-1234</h6>
    <h6>DIR:9 de julio 666</h6>
    <h6>EMAIL:renzo_abl@gmail.com</h6>
    <img src="themes/images/icons-png/phone-black.png">
    <img src="themes/images/icons-png/mail-black.png">
    <p><h6>Descripcion: </br> TRABAJOS PARA HOGARES </br>- COMERCIOS Y OBRAS CON GARANTÍA </br> Y RESPONSABILIDAD</h6></p></a>
    <h1>Comentarios:</h1>
    <li><a href="#">
    <img src="themes/clientes/andy.jpg">
    <h2>Andy Chango</h2>
    <p>Excelente servicio</p></a>
    


    <li><a href="#">
    <img src="themes/clientes/edmundo.jpg">
    <h2>Edmundo Rivero</h2>
    <p>Muy buena la atencion</p></a>
   


    <li><a href="#">
    <img src="themes/clientes/pablo.jpg">
    <h2>Pablo Yansen</h2>
    <p>Well done!</p></a>
   


    <li><a href="#">
    <img src="themes/clientes/martin.jpg">
    <h2>Martin Benitez</h2>
    <p>Buenisimo la verdad,me solucionaste un problema que nadie mas pudo </p></a>
    </li>
</li>
</li>
</li>
</li>



</ul>


<div data-role="footer">
    <h4>A Quien Llamo</h4>
  </div><!-- /footer -->
  {% endblock %}
</body>
</html>
