<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="es" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  -->

</head>


<body>
<div data-role="header">
<h1>MENU PRINCIPAL</h1>
    <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear">Opciones</a>
</div>

<ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar Servicios..." data-inset="true">
    <li><a href="servicios.html">SERVICIOS</a></li>


    <li><a href="reg-provedor.html">QUIERO SER PROVEDOR</a></li>
    <li><a href="#">LO QUIERO YA!</a></li>
    <li><a href="#">VER PEDIDOS</a></li>
    <li><a href="#">MODIFICAR DATOS DE PERFIL</a></li>
    <li><a href="contacto.html">CONTACTO</a></li>
</ul>




<div data-role="footer">
    <h4>A Quien Llamo</h4>
  </div><!-- /footer -->
</body>
</html>