<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>


<body>
<div data-role="header">
<h1 class="ui-btn-active">MENU PRINCIPAL</h1>
    <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ">Opciones</a>
<a href="categoria.html" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-l ">Volver</a>
</div>
<div data-role="header">
    <h1>CERRAJEROS</h1>
</div>
<ul data-role="listview" data-inset="true">
    




    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero1.jpg">
    <h2>Montoya Mario</h2>
    <p>Cerrajero A Domicilio Las 24 Hs</p></a>
    </li>
    
    <li><a href="#">
    <img src="themes/images/cerrajeros/cerrajero2.jpg">
    <h2>Tabares Arturo</h2>
    <p>Seriedad y compromiso con nuestros clientes</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero-auto.jpg">
    <h2>Mosquera Damián</h2>
    <p>Cerrajeria de Automóviles</p></a>
    </li>

    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero3.jpg">
    <h2>Hurtado Darío</h2>
    <p>Cerrajeria del Hogar. Atención a Urgencias las 24 Hs</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero5.jpg">
    <h2>Díaz Octavio</h2>
    <p>Cerrajero a domicilio. Llaves computarizadas y codificadas.</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero6.jpeg">
    <h2>Bermúdez Angel</h2>
    <p>Cerraduras blindadas - Reparación de cerraduras</p></a>
    </li>



</ul>



<div data-role="footer">
    <h4>A Quien Llamo</h4>
  </div><!-- /footer -->
</body>
</html>
