<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="es" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>



</head>


<body>




<div data-role="page">
  <div data-role="header">

  </div><!-- /header -->


<div class="ui-grid-solo">
    <div class="content"></div>
    <div class="imgcenter">
    <img class="imgcenter" src="themes/logo.png" width="100px" height="100px">
    </div>



     
<form action="bienvenidos.html" method="link">
<input type="submit" onClick="window.location.href='reg-cliente.html'" data-theme="b" data-icon="delete" data-iconshadow="true" value="SOY CLIENTE">
<li>
<div class="ui-grid-solo">
    <div class="content"></div>
    <div class="imgcenter">
    <img class="imgcenter" src="themes/icon.png">

  </div>
  </li>   
<input type="submit" onClick="window.location.href='reg-provedor.html'" data-theme="b" data-icon="delete" data-iconshadow="true" value="SOY PROVEDOR">


</form>
        

 </li>

        </li>

</ul>
</form>






    </div>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>Desing by Sigma Company</h4>
  </div><!-- /footer -->
</div><!-- /page -->

</body>
</html>
