<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/static/css/custom.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/idangerous.swiper.css">


<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=2">
<meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
<div id="preloader">
	<div id="status">&nbsp;</div>
</div>
<nav id="slideMenu">
 <ul>
    <li onClick="window.location.href = '/AQuienLlamo/';">
      <div class="left"><i class="home"></i></div>
      <div class="right"><span>Inicio</span></div>
    </li>
    <li onClick="window.location.href = '/categories/';">
      <div class="left"><i class="about-us"></i></div>
      <div class="right"><span>Categorias de Servicios</span></div>
    </li>
    <li onClick="window.location.href = '/categories/All/';">
      <div class="left"><i class="portfolio"></i></div>
      <div class="right"><span>Buscar Profesionales</span></div>
    </li>
    <li onClick="window.location.href = '/categories/New/';">
      <div class="left"><i class="blog"></i></div>
      <div class="right"><span>Nuevos Anunciantes</span></div>
    </li>
    <li onClick="window.location.href = '/Faq/';">
      <div class="left"><i class="faq"></i></div>
      <div class="right"><span>FAQ</span></div>
    </li>
    <li onClick="window.location.href = '/login/registro/';">
      <div class="left"><i class="contact"></i></div>
      <div class="right"><span>Registrarse</span></div>
    </li>
  </ul>
</nav>
<header id="logo">
 <div id="nav-button"></div>
  <a class="logo"><img src="/static/images/logo.png"> <span>A QUIEN LLAMO</span></a>
</header>


<section id="main">
  <h1 class="bg-blue">Preguntas Frecuentes</h1>
  <div class="content-wrapper">
    <article>
      <p> Preguntas frecuentes para un uso eficaz de A QUIEN LLAMO..</p>
      <div class="post-wrapper">
        <ul class="show-hide">
          <li> <i class="more open-2"></i> <span class="title color-dark-gray">Como controlo el fraude de las valoraciones? </span>
            <p class="desc"> Es nuestra mision en A Quien Llamo. Para detectarlo hemos incluido algunas normas que nos permiten detectarlo:

Para valorar debes estar registrado como usuario.
Debes estar logueado.
Las continuas valoraciones en un espacio corto de tiempo de un usuario a un perfil profesional, pierden valor
Incluimos otras variables de cualificacion en el algoritmo que nos ayuda a detectar este fraude. </p>
          </li>
          <li> <i class="more open-2"></i> <span class="title color-dark-gray">Puedo borrar una valoracion negativa que haya recibido?</span>
            <p class="desc"> Todos podemos fallar en un momento dado y tener alguna valoracion no todo lo positiva que quisieramos. Por eso no borramos valoraciones a menos que estas no cumplan con las condiciones de uso, incurriendo en situaciones ofensivas o claramente injustas para el profesional. Si sucede esta situacion te invitamos a enviarnos un mail informandonos de dicha situacion.</p>
          </li>
          <li> <i class="more open-2"></i> <span class="title color-dark-gray"> Puedo modificar una valoracion que he hecho antes?</span>
            <p class="desc"> Claro que si. De hecho lo que persigue A Quien Llamo es registrar el buen trabajo de las personas y su evolucion en el tiempo. No todos hemos nacido siendo los mejores en lo que hacemos, sin embargo con el tiempo podemos mejorar, y A Quien Llamo ayuda a registrar esa mejora.

Puedes valorar tantas veces como quieras, sobreescribiendo sobre tu anterior valoracion o comentario, siendo esta la ultima que se mostrara </p>
          </li>
          <li> <i class="more open-2"></i> <span class="title color-dark-gray">Puedo borrar mi perfil profesional cuando quiera?</span>
            <p class="desc"> Por supuesto. Sin embargo guardaremos tu informacion por un periodo de 3 meses por si acaso mas adelante decides retomar tu actividad. Puedes borrar tu perfil desde la propia app, en la seccion Menu > Mi Cuenta > Perfiles|Editar. Seleccionando el boton gris con el simbolo de menos (-) puedes elegir el perfil que deseas eliminar. </p>
          </li>
          <li> <i class="more open-2"></i> <span class="title color-dark-gray">Mi telefono y email son publicos?</span>
            <p class="desc"> En A Quien Llamo puede contactarte cualquier usuario por inmail. Un sistema de mensajeria interno que nunca desvelara tu email, para asi no poder recibir Spam.  Tambien te ofrecemos la opcion de incluir tu telefono, donde podran llamarte y se mostrara tu telefono antes de ponerse en contacto contigo. </p>
          </li>

        </ul>
      </div>
    </article>
  </div>
</section>
<footer>
<span><i class="gototop"></i></span>
  <ul>
   <li><a target="_blank" href="http://www.facebook.com/aquienllamo"><i class="facebook"></i></a></li>

  </ul>
  <div class="copyright">Copyright 2015, Todos los derechos reservados  Aquien Llamo.</div>
</footer>

<!-- Common Scripts -->
<script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
<script src="/static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/jquery.fittext.js"></script>
<script src="/static/js/main.js"></script>
<!-- Common Scripts -->

</body>
</html>
