<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="es" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script type="text/javascript" src="../jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function() {
        $(".content").fadeOut(15000);
        window.location = "login.html";
    },3000);
});
</script>

</head>


<body>




<div data-role="page">
  <div data-role="header">

  </div><!-- /header -->


<div class="ui-grid-solo">
    <div class="content"></div>
    <div class="imgcenter">
    <h4>http://aquienllamo.tk</h4>
    <img class="imgcenter" src="themes/logo.png">
    <h1>A Quien Llamo</h1>
    <h3>Todos los servicios en un solo lugar</h3>

    </div>










</div>
  <div data-role="footer">
    <h4>Desing by Sigma Company</h4>
  </div><!-- /footer -->
</div><!-- /page -->

</body>
</html>
