<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>


<body>
<div data-role="header">
<h1 class="ui-btn-active">MENU PRINCIPAL</h1>
    <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ">Opciones</a>
<a href="categoria.html" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-l ">Volver</a>
</div>
<div data-role="header">
    <h1>PINTORES</h1>
</div>
<ul data-role="listview" data-inset="true">
    




    <li><a href="#">
        <img src="themes/images/pintores/pintor1.jpg">
    <h2>Vega Mario</h2>
    <p>Pintura en general, presupuesto sin cargo</p></a>
    </li>
    
    <li><a href="#">
    <img src="themes/images/pintores/pintor2.jpg">
    <h2>Arguello Alejandro</h2>
    <p>Pintura en cielorrasos</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/pintores/pintor3.jpg">
    <h2>Brizuela Jorge</h2>
    <p>Pintura de interiores</p></a>
    </li>

    <li><a href="#">
        <img src="themes/images/pintores/pintor4.jpg">
    <h2>Medina Arturo</h2>
    <p>Pintor exteriores</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/pintores/pintor5.jpg">
    <h2>Delgado Victor</h2>
    <p>Pinto tu casa, exterior e interior</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/pintores/pintor6.jpg">
    <h2>Roman Esteban</h2>
    <p>Pintor Profesional. Atención las 24 hs</p></a>
    </li>



</ul>



<div data-role="footer">
    <h4>A Quien Llamo</h4>
  </div><!-- /footer -->
</body>
</html>
