<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>


<body>
<div data-role="header">
<h1 class="ui-btn-active">MENU PRINCIPAL</h1>
    <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ">Opciones</a>
<a href="categoria.html" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-l ">Volver</a>
</div>
<div data-role="header">
    <h1>PLOMEROS</h1>
</div>
<ul data-role="listview" data-inset="true">
    




    <li><a href="#">
        <img src="themes/images/plomeros/plomero1.jpg">
    <h2>Correa Horacio</h2>
    <p>Instalación y reparación de sanitarios</p></a>
    </li>
    
    <li><a href="#">
    <img src="themes/images/plomeros/plomero2.jpg">
    <h2>Aguilar Ignacio</h2>
    <p>instalación y reparación de griferías</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/plomeros/plomero3.jpg">
    <h2>Pineda Manuel</h2>
    <p>Reparación de perdidas en cañerías</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/plomeros/plomero4.jpg">
    <h2>Escobar Alfonso</h2>
    <p>Reparación de todo tipo</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/plomeros/plomero5.jpg">
    <h2>Villalba Aníbal</h2>
    <p>Destapaciones de primer tramo, sifón de cocina, pegado de bachas de cocina, etc.</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/plomeros/plomero6.jpg">
    <h2>Cárdenas Luis</h2>
    <p>Cuento con los mejores equipos y maquinarias para atender todo tipo de urgencia.</p></a>
    </li>


</ul>



<div data-role="footer">
    <h4>A Quien Llamo</h4>
  </div><!-- /footer -->
</body>
</html>
