<!DOCTYPE html>
<html>
<head>
<link href="/static/css/custom.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/css/idangerous.swiper.css">
<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=2">
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>Profesionales| Registro</title>
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<nav id="slideMenu">
  <ul>
    <li onClick="window.location.href = '/AQuienLlamo/';">
      <div class="left"><i class="home"></i></div>
      <div class="right"><span>Inicio</span></div>
    </li>

    <li onClick="window.location.href = '/categories/';">
      <div class="left"><i class="about-us"></i></div>
      <div class="right"><span>Categorias de Servicios</span></div>
    </li>
  
    <li onClick="window.location.href = '/Faq/';">
      <div class="left"><i class="faq"></i></div>
      <div class="right"><span>FAQ</span></div>
    </li>
    <li onClick="window.location.href = '/login/registro/';">
      <div class="left"><i class="contact"></i></div>
      <div class="right"><span>Registrarse</span></div>
    </li>

  </ul>
</nav>
<header id="logo">
  <div id="nav-button"></div>
  <a class="logo"><img src="/static/images/logo.png"> <span>A QUIEN LLAMO</span></a>
</header>
<section id="main">
  <h1 class="bg-blue">Registro Proveedor</h1>
  <div class="content-wrapper">
     <article class="contactForm">
  
  
  <form method="POST"  action= "OK" enctype="multipart/form-data" >{% csrf_token %} 
            <label>Nombre del Servicio</label>
            {{form.NameService}}<br><br>
            
            <label>Categoria</label>
            {{form.Category}}<br><br>

            <label>Escriba una breve descripcion</label>
            {{form.DescriptionService}}<br><br>

            <label>Telefono</label>
            {{form.Phone}}<br><br>

            <label>Email</label>
            {{form.Email}}<br><br>

            <label>Domicilio</label>
            {{form.Adress}}<br><br>

            {{form.Image}}





          
            <div class="control-group">
          <input type="submit" value="Registrarse">
                   </div>
                  

</form>
</article>
</div>
</section>



<footer> <span><i class="gototop"></i></span>
  <ul>
    <li><a target="_blank" href="http://www.facebook.com/aquienllamo
      "><i class="facebook"></i></a></li>

  </ul>
  <div class="copyright">© Copyright 2015, Todos los derechos reservados  Aquien Llamo.</div>
</footer>

<!-- Common Scripts -->
<script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
<script src="/static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/jquery.fittext.js"></script>
<script src="/static/js/main.js"></script>
<!-- Common Scripts -->

<!-- Validate -->
<script type="text/javascript" src="/static/js/jQuery.Validate.min.js"></script>
<script type="text/javascript">
      $(document).ready(function() {
      $("#theForm").validate();
      });
    </script>
<!-- Validate // END  -->

</body>
</html>


















































