<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="es" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>



</head>


<body>
<div data-role="header">
<h1 class="ui-btn-active">REGISTRO</h1>
    <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ">Opciones</a>
<a href="login.html" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-l ">Volver</a>
</div>



<form action="bienvenidos.html" method="link">
    <ul data-role="listview" data-inset="true">
        <li class="ui-field-contain">
            <input placeholder="Usuario" type="text" name="Usuario" id="name2" value="" data-clear-btn="true">
                   
            <input placeholder="Contraseña" type="password" name="Contraseña" id="name2" value="" data-clear-btn="true">
            <input placeholder="Nombre" type="text" name="Usuario" id="name2" value="" data-clear-btn="true">
            <input placeholder="Apellido" type="text" name="Usuario" id="name2" value="" data-clear-btn="true">
            <input placeholder="Telefono" type="text" name="Usuario" id="name2" value="" data-clear-btn="true">
            <input placeholder="Direccion" type="text" name="Usuario" id="name2" value="" data-clear-btn="true">
            <input placeholder="email" type="text" name="Usuario" id="name2" value="" data-clear-btn="true">
             <input placeholder="Nombre de Empresa" type="text" name="Usuario" id="name2" value="" data-clear-btn="true">
              <input placeholder="Cuil" type="text" name="Usuario" id="name2" value="" data-clear-btn="true">

    <textarea name="textarea-1" id="textarea-1" placeholder="Descripcion de actividad que desarrolla"></textarea>
        

        
        
        <li class="ui-body ui-body-b">
            <fieldset class="ui-grid-a">
                                <div class="ui-block-solo"><button type="submit" onClick="" class="ui-btn ui-corner-all ui-btn-a">REGISTRARME</button></div>
        
            </fieldset>
 </li>

        </li>

</ul>
</form>







    </div>
  </div><!-- /content -->

  <div data-role="footer">
    <h4>Desing by Sigma Company</h4>
  </div><!-- /footer -->
</div><!-- /page -->

</body>
</html>