<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>


<body>
<div data-role="header">
<h1 class="ui-btn-active">MENU PRINCIPAL</h1>
    <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ">Opciones</a>
<a href="categoria.html" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-l ">Volver</a>
</div>
<div data-role="header">
    <h1>TECNICOS</h1>
</div>
<ul data-role="listview" data-inset="true">
    

    <li><a href="#">
    <img src="themes/images/tecnicos/tecnicoRefrigeracion.jpg">
    <h2>García Fabio</h2>
    <p>Técnico en Refrigeración</p></a>
    </li>
    

    <li><a href="#">
    <img src="themes/images/tecnicos/tecnico1.jpg">
    <h2>Bermúdez Héctor</h2>
    <p>Asistencia técnica en línea y a domicilio</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/tecnicos/tecnico2.jpg">
    <h2>Gutiérrez Gerardo</h2>
    <p>Soporte técnico las 24 hs</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/tecnicos/tecnico3.jpg">
    <h2>Murillo Oscar</h2>
    <p>Servicio técnico informático profesional</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/tecnicos/tecnico4.jpg">
    <h2>Martínez César</h2>
    <p>Instalacion de las últimas actualizaciones de tu Sistema Operativo</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/tecnicos/tecnico5.jpg">
    <h2>Serna Carlos</h2>
    <p>Servicio Técnico de PC y REDES a domicilio</p></a>
    </li>


</ul>



<div data-role="footer">
    <h4>A Quien Llamo</h4>
  </div><!-- /footer -->
</body>
</html>
