<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">


  <title>A Quien Llamo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="themes/aquienllamo.css" />
  <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>


<body>
<div data-role="header">
<h1 class="ui-btn-active">SERVICIOS POR NOMBRE</h1>
    <a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ">Opciones</a>
<a href="servicios.html" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-arrow-l ">Volver</a>
</div>

<ul data-role="listview" data-inset="true">
    <ul data-role="listview"  data-filter-placeholder="Buscar Servicios" data-filter="true" data-inset="true">
    <li><a href="#">
        <img src="themes/images/albañiles/albañil1.png">
    <h2>Aquino Leonel</h2>
    <p>Albañil con experiencia en el rubro</p></a>
    

    <li><a href="#">
    <img src="themes/images/albañiles/albañil2.jpg">
    <h2>Beltran Renzo </h2>
    <p>Albañil de exteriores</p></a>
    


    <li><a href="#">
        <img src="themes/images/albañiles/albañil3.png">
    <h2>Prommel Andres</h2>
    <p>albañil de todo tipo</p></a>
    


    <li><a href="#">
        <img src="themes/images/albañiles/albañil4.jpg">
    <h2>Vega Roberto</h2>
    <p>albañil con experiencia comprobable</p></a>
   


    <li><a href="#">
        <img src="themes/images/albañiles/albañil5.jpg">
    <h2>Paris Ezequiel</h2>
    <p>Refacción y ampliación de casas</p></a>


    <li><a href="#">
        <img src="themes/images/carpinteros/carpintero1.jpg">
    <h2>Naranjo Marín</h2>
    <p>Trabajamos con todo tipo de maderas y materiales.</p></a>
    </li>
    
    <li><a href="#">
    <img src="themes/images/carpinteros/carpintero2.jpg">
    <h2>Duque Emilio</h2>
    <p>Remodelación, acabado para pisos de madera</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/carpinteros/carpintero3.jpg">
    <h2>Lotero Antonio</h2>
    <p>Carpintero medio tiempo</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/carpinteros/carpintero4.jpg">
    <h2>Palacios Osvaldo</h2>
    <p>Amplia experiencia, responsobilidad y compromiso.</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/carpinteros/carpintero5.jpg">
    <h2>Herman Correal</h2>
    <p>Carpintero Restaurador A Domicilio</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/carpinteros/carpintero6.jpg">
    <h2>Ortiz Gabriel</h2>
    <p>Carpintero A Domicilio, Muebles A Medida</p></a>
    </li>
<li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero1.jpg">
    <h2>Montoya Mario</h2>
    <p>Cerrajero A Domicilio Las 24 Hs</p></a>
    </li>
    
    <li><a href="#">
    <img src="themes/images/cerrajeros/cerrajero2.jpg">
    <h2>Tabares Arturo</h2>
    <p>Seriedad y compromiso con nuestros clientes</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero-auto.jpg">
    <h2>Mosquera Damián</h2>
    <p>Cerrajeria de Automóviles</p></a>
    </li>

    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero3.jpg">
    <h2>Hurtado Darío</h2>
    <p>Cerrajeria del Hogar. Atención a Urgencias las 24 Hs</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero5.jpg">
    <h2>Díaz Octavio</h2>
    <p>Cerrajero a domicilio. Llaves computarizadas y codificadas.</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/cerrajeros/cerrajero6.jpeg">
    <h2>Bermúdez Angel</h2>
    <p>Cerraduras blindadas - Reparación de cerraduras</p></a>
    </li>

<li><a href="#">
        <img src="themes/images/electricistas/electricista1.png">
    <h2>Rodas Cesar</h2>
    <p>Electricista Matriculado, Certificaciones Y Mantenimiento</p></a>
    </li>
    
    <li><a href="#">
    <img src="themes/images/electricistas/electricista2.jpg">
    <h2>Vera Bernardo</h2>
    <p>Electricista - Presupuesto Sin Cargo</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/electricistas/electricista3.jpg">
    <h2>Romero Juan</h2>
    <p>Electricista Profesional Telefonia Ventiladores De Techo Tdt</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/electricistas/electricista4.jpg">
    <h2>Aranda José</h2>
    <p>Electricista Matriculado Urgencias Emergencias 24hs</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/electricistas/electricista5.jpg">
    <h2>Britos Jorge</h2>
    <p>Colocación de artefactos - Mediciones eléctricas</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/electricistas/electricista6.jpg">
    <h2>Acosta Luis</h2>
    <p>Instalaciones Electricas - Reformas - Reparaciones</p></a>
    </li>
 <li><a href="#">
        <img src="themes/images/pintores/pintor1.jpg">
    <h2>Vega Mario</h2>
    <p>Pintura en general, presupuesto sin cargo</p></a>
    </li>
    
    <li><a href="#">
    <img src="themes/images/pintores/pintor2.jpg">
    <h2>Arguello Alejandro</h2>
    <p>Pintura en cielorrasos</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/pintores/pintor3.jpg">
    <h2>Brizuela Jorge</h2>
    <p>Pintura de interiores</p></a>
    </li>

    <li><a href="#">
        <img src="themes/images/pintores/pintor4.jpg">
    <h2>Medina Arturo</h2>
    <p>Pintor exteriores</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/pintores/pintor5.jpg">
    <h2>Delgado Victor</h2>
    <p>Pinto tu casa, exterior e interior</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/pintores/pintor6.jpg">
    <h2>Roman Esteban</h2>
    <p>Pintor Profesional. Atención las 24 hs</p></a>
    </li>
<li><a href="#">
        <img src="themes/images/plomeros/plomero1.jpg">
    <h2>Correa Horacio</h2>
    <p>Instalación y reparación de sanitarios</p></a>
    </li>
    
    <li><a href="#">
    <img src="themes/images/plomeros/plomero2.jpg">
    <h2>Aguilar Ignacio</h2>
    <p>instalación y reparación de griferías</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/plomeros/plomero3.jpg">
    <h2>Pineda Manuel</h2>
    <p>Reparación de perdidas en cañerías</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/plomeros/plomero4.jpg">
    <h2>Escobar Alfonso</h2>
    <p>Reparación de todo tipo</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/plomeros/plomero5.jpg">
    <h2>Villalba Aníbal</h2>
    <p>Destapaciones de primer tramo, sifón de cocina, pegado de bachas de cocina, etc.</p></a>
    </li>


    <li><a href="#">
        <img src="themes/images/plomeros/plomero6.jpg">
    <h2>Cárdenas Luis</h2>
    <p>Cuento con los mejores equipos y maquinarias para atender todo tipo de urgencia.</p></a>
    </li>
   


    <li><a href="#">
        <img src="themes/images/albañiles/albañil6.png">
    <h2>Molina Ignacio</h2>
    <p>Albañiles con experiencia y conciencia</p></a>
    </li>
</li>
</li>
</li>
</li>
</li>



</ul>



<div data-role="footer">
    <h4>A Quien Llamo</h4>
  </div><!-- /footer -->
</body>
</html>