{% extends 'base.html' %}

{% block title %}
  Registrarse
{% endblock %}


{% block content %}
          <form action="/AQuienLlamo/register/prov" metrhod="GET">
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-primary">Registrarme Como Proveedor de Servicios</button>
            </div>
            </div>
          </form>
          <form action="/AQuienLlamo/register/prov" metrhod="GET">
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-primary">Buscar servicios</button>
            </div>
            </div>
          </form>
          
          <form action="/AQuienLlamo/register/prov" metrhod="GET">
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-primary">Modificar Datos Personales </button>
            </div>
            </div>
          </form>
          <form action="/AQuienLlamo/register/prov" metrhod="GET">
            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-primary">Salir</button>
            </div>
            </div>
          </form>
   </section>
{% endblock %}

