<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}
</style>
</head>
<body>
	<h1>Registro de clientes</h1>
	<form action="/AQuienLlamo/register/cli" method="get">
	usuario:
	<input type="text" name="usuario" value=" " required/><br/>
	{{errorUser}}<br/>
	contrasenia:
	<input type="password" name="contrasenia" value="" required/><br/>
	nombre:
	<input type="text" name="nombre" value=" " required/><br/>
	apellido:
	<input type="text" name="apellido" value="" required/><br/>
	telefono:
	<input type="text" name="telefono" value=" " required pattern="[0-9]{10}"/><br/>
	direccion:
	<input type="text" name="direccion" value=" " required/><br/>
	email:
	<input type="email" name="email" value="" required/><br/>
	<input type="submit" value="Registrarme"/>
	</form>
	<h1>Registro de proveedores</h1>
	<form action="/AQuienLlamo/register/prov" method="get">
	usuario:
	<input type="text" name="usuario" value=" " required/><br/>
	{{errorUser0}}<br/>
	contrasenia:
	<input type="password" name="contrasenia" value="" required/><br/>
	nombre:
	<input type="text" name="nombre" value=" " required/><br/>
	apellido:
	<input type="text" name="apellido" value="" required/><br/>
	telefono:
	<input type="text" name="telefono" value=" " required pattern="[0-9]{10}"/><br/>
	direccion:
	<input type="text" name="direccion" value=" " required/><br/>
	email:
	<input type="email" name="email" value="" required/><br/>
	nombre empresa:
	<input type="text" name="nomEmpresa" value=" " required/><br/>
	{{errorEmpresa}}<br/>
	cuil:
	<input type="text" name="cuil" value="" required pattern="[0-9]{11}"/><br/>
	<input type="submit" value="Registrarme"/>
	</form>
</body>
</html>